@page
@using Microsoft.Data.SqlClient;

@model EnquiryModel
@{
    ViewData["Title"] = "Enquiry Requests";
}

<h1>@ViewData["Title"]</h1>

<p>This page is used to view Enquiry Requests</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
    </tr>

    @{
        var connectionString = "Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;";
        using (var connection = new SqlConnection(connectionString))
        {
            connection.Open();
            var command = new SqlCommand("SELECT * FROM Customers", connection);
            using (var reader = command.ExecuteReader())
            {
                while (reader.Read())
                {
                    <tr>
                        <td>@reader["ID"]</td>
                        <td>@reader["Name"]</td>
                        <td>@reader["Email"]</td>
                        <td>@reader["Phone"]</td>
                        <td>@reader["Address"]</td>
                    </tr>
                }
            }
        }
    }
</table>
